.result {
    background-color: white;
    color: black;
    width: 100%;
    height: 100vh;
    padding: 40px;
}

.result > div {
    margin-bottom: 30px;
}

#headingResult {
    font-weight: 800;
    font-size: 2rem;
}

#goBackBtn {
    background-color: black;
    color: white;
    width: 10em;
    height: 2.5rem;
    font-size: 18px;
    padding: 5px 10px;
}